{{#if (eq state "home")}}
  <h1>STAND-UP</h1>
  <a href="#" {{action "nextSlide"}} class="start-button">COMMENCER</a>
{{else if (eq state "startups")}}
  {{timed-slide
    title=currentStartup.name
    subtitle=currentStartup.pitch
    formattedElapsedMinutes=formattedElapsedMinutes
    formattedElapsedSeconds=formattedElapsedSeconds
    isEndingSoon=isEndingSoon
    next=(action "nextSlide")
    nextSlide=nextSlide}}
{{else if (eq state "meta")}}
  {{timed-slide
    title="Sujets transverses"
    formattedElapsedMinutes=formattedElapsedMinutes
    formattedElapsedSeconds=formattedElapsedSeconds
    isEndingSoon=isEndingSoon
    next=(action "nextSlide")
    nextSlide="fin"}}
{{/if}}
